# Dependencies
node_modules
.pnp
.pnp.js

# Production build output
dist
dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & editor
.env
.env.local
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
.idea
